<!doctype html>
<html lang="en">

<head>
    <title>YouRSS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet" />
</head>

<body class="">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment/moment.min.js" crossorigin="anonymous"></script>
    <script src="commons.js"></script>

    <nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top main-navigation">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand mb-0 h1" href="/">YouRSS</a>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="navbar-nav" display="none">
                    <li class="nav-item dropdown" id="myNavbarFilterByChannel" style="display:none;">
                        <a class="nav-link dropdown-toggle" href="#" id="myNavbarFilterByChannelLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Channels</a>
                        <ul class="dropdown-menu" aria-labelledby="myNavbarFilterByChannelLink" id="myNavbarFilterByChannelContent"></ul>
                    </li>
                    <li class="nav-item dropdown" id="myNavbarFilterByLabel" style="display:none;">
                        <a class=" nav-link dropdown-toggle" href="#" id="myNavbarFilterByLabelLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                        <ul class="dropdown-menu" aria-labelledby="myNavbarFilterByLabelLink" id="myNavbarFilterByLabelContent"></ul>
                    </li>
                </ul>
            </div>

            <div id="myUserMenu" class="nav-item dropdown" style="display: none;">
                <a class="nav-link dropdown-toggle text-white" id="myProfileMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img id="myAvatar" alt="" width="40" height="40" class="rounded-circle">
                    <span id="myName"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="myProfileMenuLink">
                    <li><a class="dropdown-item" href="/view">Home</a></li>
                    <li><a class="dropdown-item" href="/config">Settings</a></li>
                    <li><a class="dropdown-item" href="/subscriptions">Subscription</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <a id="back2Top" title="Back to top" href="#">&#10148;</a>