<!DOCTYPE html>
<html lang="en" data-bs-theme="{{ theme }}">

<head>
  <title>/c/{{ metadata.title }} - YouRSS</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1/font/bootstrap-icons.css" rel="stylesheet" />
  <link href="/static/yourss.css" rel="stylesheet" />
  <link rel="icon" type="image/png" href="/static/yourss.png" />
  <link rel="apple-touch-icon" type="image/png" href="/static/yourss.png" />
</head>

<body>
  <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3/dist/js.cookie.min.js "></script>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-center">
      <a class="navbar-brand" href="{{ metadata.url }}" target="_blank">
        <img src="{{ metadata.avatar_url }}" width="30" height="30" class="rounded-circle" />
        <span class="fw-bold" style="cursor: pointer" onclick="window.open('/c/{{ metadata.channel_id }}')">
          {{ metadata.title }}
        </span>
      </a>
    </div>
  </nav>

  <a id="scroll-to-top" title="Back to top" href="#">&#10148;</a>

  <main>
    <div class="container-fluid mt-2">
      <div id="video-container" class="row">
        {% include "partials/channel-videos-page.html" %}
      </div>
    </div>
  </main>
  <script src="/static/yourss.js"></script>
</body>

</html>