<!DOCTYPE html>
<html lang="en">

<head>
  <title>YouRSS - {{ title }}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1/font/bootstrap-icons.css" rel="stylesheet" />
  <link href="/static/yourss.css" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="/static/yourss.png" />
</head>

<body class="">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" style="">
        <span style="color: white;">
          You
        </span>
        <span class="badge border" style="color: white !important; background-color: red !important; border-color: red !important;">
          RSS
        </span>
        <span style="margin-left: 20px;">
          {% for feed in feeds|sort(attribute='title') %}
          <span style="cursor: pointer;" onclick="window.open('/{{ feed.channel_id }}', '_self')">{{ feed.title }}</span>
          &nbsp; &nbsp;
          {% endfor %}
        </span>
      </a>
    </div>
  </nav>

  <a id="scroll-to-top" title="Back to top" href="#">&#10148;</a>

  <main>
    <div class="container-fluid mt-2">
      <div id="video-container" class="row">
        {% for feed in feeds %}
        {% for video in feed.entries %}
        <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-6 mb-3 filterable" data-channel="{{ feed.channel_id }}" data-label="{{ feed.label }}"
          data-published="{{ video.published }}">
          <div class="card h-100" data-thumbnail="{{ video.thumbnail_url }}" data-video="{{ video.id }}">
            <img class="card-img-top" src="{{ video.thumbnail_url }}" style="cursor: pointer" alt="{{ video.title }}"
              data-src="https://www.youtube-nocookie.com/embed/{{ video.video_id }}?autoplay=1&control=2&rel=0" />
            <div class="card-body d-flex flex-column">
              <h5 class="card-title h5" style="font-weight: bold">
                <img src="/api/avatar/{{ feed.channel_id }}" width="30" height="30" class="rounded-circle" />
                <span onclick="window.open('{{ feed.link }}')" style="cursor: pointer;">{{ feed.title }}</span>
              </h5>
              <p class="card-text">
                {{ video.title }}
              </p>
              <p class="card-text mt-auto">
                <small class="text-muted">{{ video.published_moment }}</small>
                <a class="bi bi-box-arrow-up-right" style="float: right; color:black;" href="{{ video.link }}" target="_blank"></a>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endfor %}
      </div>
    </div>
  </main>

  <script src="/static/yourss.js"></script>
</body>

</html>